<h1>Login</h1>
<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Enter your username</label>
    <input type="text" name="username" />
    <label for="password">Enter your password</label>
    <input type="password" name="password" />
  </div>

</form>